.navbar-right .nav-links li {
    margin-right: 3rem;
}

.navbar-right .nav-links a {
    color: #F5F5F5;
    text-decoration: none;
    transition: 0.2s;
}

.navbar-right .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-right .nav-links a:focus {
    color: #48CFCB;
}

.navbar-right .nav-links a:hover {
    color: #48CFCB;
}